[Unit]
Description=Simple HTTP Server With Upload

[Service]
ExecStart=/bin/SimpleHTTPServerWithUpload.sh
Restart=Always

[Install]
WantedBy=multi-user.target

