[Desktop Entry]
Name=Install SimpleHTTPServerWithUpload
Comment=Installs SimpleHTTPServerWithUpload Service
Exec=gnome-terminal -e "bash -c 'cd \"$(dirname "\"%k\"")\"; sudo bash "./install.sh"'"
Icon=org.gnome.DiskUtility
Terminal=false
Type=Application
Categories=Application;
